@import "tailwindcss";
@import "../shared/styles/Utilities.css";

@theme {
  /* Font Families*/

    /* Default font for almost everything */
  --font-primary: "Cairo", sans-serif;

  /* Decorative / marketing / footer */
  --font-display: "El Messiri", serif;

  /* UI font (search, inputs, numbers, tables) */
  --font-ui: "DIN Next LT W23", sans-serif;

  /* System fallback */
  --font-system: Arial, Helvetica, sans-serif;
  

  /*Text Sizes*/

  --text-3xs: clamp(8px, 0.48vw + 6.2px, 9px);      /* 9px */
  --text-2xs: clamp(9px, 0.48vw + 7.2px, 10px);     /* 10px */
  --text-xs: clamp(11px, 0.48vw + 9.2px, 12px);     /* 12px */
  --text-sm: clamp(13px, 0.48vw + 11.2px, 14px);    /* 14px */
  --text-sm-plus: clamp(14px, 0.48vw + 12.2px, 15px); /* 15px */
  --text-base: clamp(15px, 0.48vw + 13.2px, 16px);  /* 16px */
  --text-base-plus: clamp(16px, 0.48vw + 14.2px, 17px); /* 17px */

  --text-lg: clamp(16px, 0.75vw + 13.2px, 18px);    /* 18px */

  --text-lg-plus: clamp(17px, 0.75vw + 14.2px, 19px); /* 19px */
  --text-xl: clamp(18px, 0.75vw + 15.2px, 20px);    /* 20px */
  --text-xl-plus: clamp(19px, 0.75vw + 16.2px, 21px); /* 21px */
  --text-2xl: clamp(20px, 0.75vw + 17.2px, 22px);   /* 22px */
  --text-2xl-plus: clamp(21px, 0.75vw + 18.2px, 23px); /* 23px */
  --text-3xl: clamp(22px, 1vw + 18.5px, 25px);      /* 25px */
  --text-4xl: clamp(26px, 1.5vw + 20.5px, 30px);    /* 30px */

  --text-5xl: clamp(32px, 2.25vw + 23.5px, 40px);   /* 40px */
  --text-6xl: clamp(36px, 2.5vw + 26px, 45px);      /* 45px */
  --text-7xl: clamp(42px, 3vw + 31px, 54px);        /* 54px */
  --text-8xl: clamp(44px, 3vw + 32px, 56px);        /* 56px */
  --text-9xl: clamp(52px, 3.5vw + 39px, 66px);      /* 66px */

  /*Colors*/

  /* Backgrounds */
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

  /* Brand */
  --color-primary: #1EAAAD;

  /* Text */
  --color-text: #37383B;
  --color-text-heading: #02385A;
  --color-text-inverse: #FAFAFA;

  /* Borders */
  --color-border: #D1DBE1;
  --color-divider: #707070;

  /* Status */
  --color-warning: #C95656;
  --color-stars: #FCBF29;

  /*Radius*/
  --radius-xs: 5px; 
  --radius-sm: 9px;  
  --radius-md: 10px;  
  --radius-lg: 15px; 

  /* Fluid Spacing */
  --px-fluid: clamp(16px, 4vw, 32px);
  --gap-sm: clamp(8px, 1.5vw + 2px, 16px);
  --gap-md: clamp(12px, 2vw + 4px, 24px);
  --gap-lg: clamp(24px, 4vw, 56px);
}

.gradient {
  background: linear-gradient(to right, #29B1BE, #6B79B9);
}

@layer base {
  body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    letter-spacing: 0;
    direction: rtl;
  }
}
